.response-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 9em;
  margin-top: -5em;
}

.response-item {
  width: 100%;
  text-align: center;
  margin-left: 0;
  margin-left: -1em;

  &.img-left {
    margin-left: -1em;
    margin-top: 3em;
    width: 21em;
  }
}

.img-walking {
  width: 21em;
  margin-left: -3em;
}

.action-imc {
  margin-top: 12em;
}