@import '../../../shared/style/variables.scss';

body {
  margin: 0;
  padding: 0;
  background-image: url('../../../assets/imgs/wall.jpg');
  background-size: contain;
  //background-color: black;
}

.container-main {
  background-color: #eeeeee;
  width: 100%;
  height: auto;
  border: 0px;
  position: absolute;
}

.start-options {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.start-game-action {
  text-align: center;
  margin-top: 50px;
}

.btn-start {
  @include neon-wrapper($blue-neon-in, $blue-neon-out);
  padding: 20px;
  cursor: pointer;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
}

.btn-start-text {
  @include neon-text($blue-neon-in, $blue-neon-out);
  font-size: 30px;
  text-transform: uppercase;
  font-family: neon-line;
  margin: 0;
  padding: 0;
}