.btn-next {
  border: solid 1px #01633d;
  border-top: solid 8px #01633d;
  color: #01633d;
  padding: 10px;
  cursor: pointer;
  width: 230px;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  background-color: #0dc37d;
}

.btn-next-text {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}