@import '../../../../../shared/style/variables.scss';

.consultant-container {
  @include background-gradient($bg-dark-red, $bg-light-red);
  width: 100%;
  height: auto;
  position: absolute;
}

.consult-questions {
  width: 100%;
  margin-top: 10em;
}

.warning-consultant {
  margin-top: 8em;
  text-align: center;
  font-size: 45px;
  width: 18em;
  padding: 2em;
  color: white;
  font-family: Roboto;
  margin: 10.5em auto;
  border: solid 1px orange;
}