.question-text {
  font-family: 'Roboto';
  font-size: 30px;
  color: white;
  margin: 5px 0px 0px 20px;
  width: 90%;
}

.question-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.pipe-question {
  height: auto;
  width: 2px;
}