.question-text {
  font-family: 'Roboto';
  font-size: 35px;
  color: white;
  margin: 5px 0px 0px 20px;
}

.question-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.pipe-question {
  height: 50px;
  width: 2px;
  background-color: #3d8bd0;
}