.card-select-question-modality {
  background-image: linear-gradient(180deg, #0662f0, #611af2);
  width: 14em;
  height: 20em;
  border-radius: 10px;
  margin: 10px;
  text-align: center;

  &.selected {
    outline: solid 6px #10c27d;
  }
}

.text-card {
  font-size: 30px;
  color: white;
  font-family: Roboto;
  margin: 14px;
  position: relative;
  top: -1.5em;
  text-transform: uppercase;
  text-align: center;
}

.img-card {
  width: 13em;
}