.card-select-question {
  background-image: linear-gradient(180deg, #0662f0, #611af2);
  width: 27em;
  height: 17em;
  border-radius: 10px;
  margin: 50px 25px;

  &.selected {
    border-bottom: solid 13px #10c27d;
  }
}

.text-card-select-item {
  font-size: 30px;
  color: white;
  font-family: Roboto;
  margin: 20px;
  position: relative;
  top: -0.5em;
  text-transform: uppercase;
}

.icon-card {
  width: 220px;
  margin-left: 6em;
  margin-top: -5em;
}